@model IEnumerable<ProductViewModel>

@{
    Layout = "_MyLayout";
}


<a asp-action="Create" asp-controller="Product" class="btn btn-dark">Go Back</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Code</th>
        <th>Product Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.ProductCode</td>
            <td>@item.Price</td>
        </tr>
    }
    </tbody>
</table>